<!-- <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html">
                    <img
                      src="{{ url_for('static', filename='images/uxui.jpg') }}"
                      alt="Image"
                      class="img-fluid"
                    />
                  </a>
                  <div class="price">$150.00</div>
                  <div class="category">
                    <h3>UI/UX Design Fundamentals</h3>
                  </div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>UI/UX Design Fundamentals</h2>
                  <p>
                    Gain a solid grasp of UI and UX design principles and
                    methodologies.
                  </p>
                  <p>
                    <a
                      href="{{ url_for('course')}}"
                      style="margin-top: 33px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html"
                    ><img
                      src="{{ url_for('static', filename='images/acting.jpg') }}"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                  <div class="price">$99.00</div>
                  <div class="category"><h3>Acting for TV and Film</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>Acting</h2>
                  <p class="desc mb-4">
                    Master the skills of acting and performance for theater,
                    film, and television.
                  </p>
                  <p>
                    <a
                      href="course-single.html"
                      style="margin-top: 33px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html">
                    <img
                      src="{{ url_for('static', filename='images/cyber.jpg') }}"
                      alt="Image"
                      class="img-fluid"
                    />
                  </a>
                  <div class="price">$150.00</div>
                  <div class="category"><h3>Cyber Security</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>Cybersecurity</h2>
                  <p>
                    Learn key principles and technologies to secure digital
                    assets and counter cyber threats.
                  </p>
                  <p>
                    <a
                      href="course-single.html"
                      style="margin-top: px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div> -->

<!-- <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html"
                    ><img
                      src="{{ url_for('static', filename='images/directing.jpg') }}"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                  <div class="price">$99.00</div>
                  <div class="category"><h3>Arts of Directing</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>Directing</h2>
                  <p class="desc mb-4">
                    Gain insights into the art of directing and bring your
                    vision to life on screen.
                  </p>
                  <p>
                    <a
                      href="course-single.html"
                      style="margin-top: 60px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html"
                    ><img
                      src="{{ url_for('static',filename= 'images/editing.jpg') }}"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                  <div class="price">$250.00</div>
                  <div class="category">
                    <h3>Video Editing for TV and Film</h3>
                  </div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>Video Editing</h2>
                  <p>
                    Learn digital editing basics, Get introduced to Adobe
                    Premiere and participate in labs.
                  </p>
                  <p>
                    <a
                      href="course-single.html"
                      style="margin-top: 30px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html"
                    ><img
                      src="{{ url_for('static', filename= 'images/web-development (1).jpg') }}"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                  <div class="price">$250.00</div>
                  <div class="category"><h3>Web Development</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>Web Development</h2>
                  <p>
                    Gain a solid foundation in front-end and back-end web
                    development.
                  </p>
                  <p>
                    <a
                      href="course-single.html"
                      style="margin-top: 30px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html"
                    ><img
                      src="{{ url_for('static', filename= 'images/sound.jpg') }}"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                  <div class="price">$120.00</div>
                  <div class="category">
                    <h3>Sound Design & Production</h3>
                  </div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>Sound Design & Production</h2>
                  <p>
                    Enhance your skills in creating professional soundtracks.
                  </p>
                  <p>
                    <a
                      href="course-single.html"
                      style="margin-top: 58px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="course-1-item">
                <figure class="thumnail">
                  <a href="course-single.html"
                    ><img
                      src="{{ url_for('static', filename= 'images/cinema_.jpg') }}"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                  <div class="price">$250.00</div>
                  <div class="category"><h3>Cinematography</h3></div>
                </figure>
                <div class="course-1-content pb-4">
                  <div class="rating text-center mb-3">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                  <h2>Cinematography</h2>
                  <p>
                    Master the art of visual storytelling in film and
                    television.
                  </p>
                  <p>
                    <a
                      href="course-single.html"
                      style="margin-top: 60px"
                      class="btn btn-primary rounded-0 px-4"
                      >Enroll In This Course</a
                    >
                  </p>
                </div>
              </div>
            </div> -->
@admin.route('/edit_instructor/<int:instructor_id
  >', methods=['GET', 'POST']) def edit_instructor(instructor_id): instructor =
  Instructor.query.get_or_404(instructor_id) form =
  EditInstructorForm(obj=instructor) if form.validate_on_submit():
  form.populate_obj(instructor) if form.profile_image.data: filename =
  secure_filename(form.profile_image.data.filename) filepath =
  os.path.join(PROFILE_PICS_FOLDER, filename) if allowed_file(filename):
  form.profile_image.data.save(filepath) instructor.profile_image = filename
  else: flash('Invalid file format. Please upload an image file.', 'error')
  db.session.commit() flash('Instructor profile updated successfully.',
  'success') return redirect(url_for('admin.admin_dashboard')) return
  render_template('edit_instructor.html', form=form, instructor=instructor)
</int:instructor_id>
